
<!-- 
<div *ngFor="let ponto of card.pontos_tema; let i = index">
    <label [ngStyle]="{'color': temas[i].cor}">{{temas[i].titulo}} : {{ponto.pontos}}</label>
</div>

<br> -->

<div class="container">
    <div class="card-container">
      
      <div class="card user">
        <div class="media">
          <div class="media__image">
            <img src="src/assets/img/avatars/{{card.foto}}" alt="user" class="img--48x48 img--rounded">
          </div>
          <div class="media__bd">
            <p class="user__sender">{{card.nome}}</p>
            <p class="user__description">{{card.elo}}</p>
          </div>
          
          <div *ngFor="let tema of card.pontos_tema; let i = index">
            <div class="circle circle-{{i + 1}}" [ngStyle]="{'background': getStyleTema(tema)}">
              <img class="logo" [src]="getLogoTema(tema)" alt="">
            </div>
          </div>  
        </div>
      </div>
        
    </div>
  </div>