<body>
  <div class="container home-container">
    <div class="row">
      <div class="col-md-12">
        <h1><strong>Mestrão</strong></h1>
        <div class="botoes">
          <app-cadastro-form></app-cadastro-form>
          <p class="divisoria">--------ou--------</p>
          <app-login-form></app-login-form>
          <p class="divisoria">--------ou--------</p>
          <button type="button" class="btn btn-primary btn-lg">JOGAR</button>
        </div>
      </div>
    </div>
    
    <!-- <div>
      <app-login-form></app-login-form>
    </div>
    <div>
      <app-cadastro-form></app-cadastro-form>
    </div> -->
  </div>


</body>
