.home-container {
  text-align: center;

  h1 {
    margin: auto;
    margin-top: 60px;
    font-size: 55px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    border: 4px solid #abb9ba;
    width: 600px;

    .logo {
      width: 80px;
      height: 80px;
    }
  }

  p {
    margin: 5px;
  }

  .divisoria {
    font-size: 15px;
    color: #abb9ba;
    margin: 15px;
  }

  .botoes {
    margin-top: 30px;

    .btn {
      vertical-align: middle;
      margin: 3px;
      width: 300px;
      font-size: 30px;
      height: 50px;
      background-color: rgba(61, 153, 112, 0.7);
      border: 0px;

    }

    .btn:hover {
      background-color: rgba(61, 153, 112, 0.9);
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
    }
  }
}

.frame {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  white-space: nowrap;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    .img {
      vertical-align: middle;
      height: 60px;
      width: 60px;
    }
  }

}

.img-hp-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #ff7f00;
  margin-top: 267px;
  margin-left: 102px;
}

.img-culinaria-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #e4e4a2;
  margin-top: 26%;
  margin-left: 74%;
}

.img-game-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #c161b0;
  margin-top: 99px;
  margin-left: 120px;
}

.img-biologia-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #86e686;
  margin-top: 54%;
  margin-left: 46%;
}

.img-historia-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #3f69e4;
  margin-top: 505px;
  margin-left: 207px;
}

.img-logica-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #774041;
  margin-top: 802px;
  margin-left: 1372px;
}

.img-tecnologia-1 {
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #c57373;
  margin-top: 57px;
  margin-left: 1337px;
}
