.audio-icon {
  margin-left: 20px;
  margin-top: 7px;
  position: absolute;
}

.fa-pause-circle,
.fa-play-circle {
  font-size: 50px;
  color: #3d9970;
}

.title {
  color: white;
  margin-top: 200px;
}

