.fa {
  font-size: 25px;
  margin-right: 7px;
  margin-left: 10px;
}

.show-pointer:hover {
  cursor: pointer;
}

.avatar-icon {
  height: 80px;
  margin: 10px;
  opacity: 70%;
}

.premium{
  height: 37px;
  margin-left: 5px;
}