<div class="teste" *ngIf="this.rooms.length > 0">
  <div class="container" *ngFor="let room of rooms">
    <div class="room-container">
      <!-- CLass -->
      <div
        class="card room"
        (click)="roomClick = room.Id"
        [ngClass]="{ testete: roomClick }"
      >
        <div>
          <h5>ROOM {{ room.Id }}</h5>
          <div class="difficulty difficulty-{{room.IdNivel}}">
            <h3>{{ room.IdNivel }}</h3>
          </div>
        </div>
        <div *ngFor="let tema of room.temas; let i = index">
          <div
            class="circle circle-{{i + 1}}"
            [ngStyle]="{ background: getStyleTema(tema) }"
          >
            <img class="logo" [src]="getLogoTema(tema)" alt="" />
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <img
              src="src/assets/img/avatars/{{room.foto}}.png"
              alt="user"
              class="img--48x48 img--rounded"
            />
          </div>

          <div class="media__bd">
            <p class="user__sender">{{ getUsers(room.Id) }}</p>
            <p class="user__description">{{ user.elo }}</p>
          </div>
        </div>
        <div class="players">{{ room.JogadoresNaSala }}/{{ room.MaximoJogadores }} jogadores esperando</div>
      </div>
    </div>
  </div>
  <div class="botoes">
    <button class="enteroom" [hidden]="roomVariable" (click)="enterRoom(room.Id, room.NivelId, room.Jogadores, room.TemasIds)">
      ENTRAR NA SALA
    </button>
    <button class="leaveroom" [hidden]="!roomVariable" (click)="leaveRoom()">
      SAIR DA SALA
    </button>
  </div>
</div>
