<div class="teste" *ngIf="this.rooms.length > 0">
  <div class="container" *ngFor="let room of rooms">
    <div class="room-container">
      <div class="card room" (click)="roomClick = room.Id; currentRoom = room" [ngClass]="{ testete: roomClick == room.Id }">
        <div class="card-header">
          <h5>ROOM {{ room.Id }}</h5>
          <div class="difficulty difficulty-{{room.IdNivel}}">
            <h5>{{ getNivel(room.IdNivel) }}</h5>
          </div>
        </div>
        <div *ngFor="let temaId of room.Temas; let i = index">
          <div class="circle circle-{{i + 1}}" [ngStyle]="{ background: getStyleTema(temaId) }">
            <img class="logo" [src]="getLogoTema(temaId)" alt="" />
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <img src="src/assets/img/avatars/{{getUserPicture(room.Criador)}}" alt="user" class="img--48x48 img--rounded" />
          </div>

          <div class="media__bd">
            <p class="user__sender">{{ getUserName(room.Criador) }}</p>
            <p class="user__description">{{ getUserDescription(room.Criador) }}</p>
          </div>
        </div>
        <br/>
        <div class="players">{{ room.JogadoresNaSala }}/{{ room.MaximoJogadores }} jogadores</div>
      </div>
    </div>
  </div>
  <div class="botoes">
    <button class="enteroom" [hidden]="roomVariable" (click)="enterRoom(room)">
      ENTRAR NA SALA
    </button>
    <button class="leaveroom" [hidden]="!roomVariable" (click)="leaveRoom()">
      SAIR DA SALA
    </button>
  </div>
</div>