<div class="container">
  <div class="room-container">
    <p>Escolha o nível de dificuldade:</p>
    <div class="difficulty">
      <button
        (click)="nv_dificuldade = nv_dificuldade == 1 ? null : 1"
        [disabled]="nv_dificuldade != 1 && nv_dificuldade"
        class="difficulty difficulty-1"
      >
        Fácil
      </button>
      <button
        (click)="nv_dificuldade = nv_dificuldade == 2 ? null : 2"
        [disabled]="nv_dificuldade != 2 && nv_dificuldade"
        class="difficulty difficulty-2"
        matTooltip="two"
      >
        Intermediário
      </button>
      <button
        (click)="nv_dificuldade = nv_dificuldade == 3 ? null : 3"
        [disabled]="nv_dificuldade != 3 && nv_dificuldade"
        class="difficulty difficulty-3"
      >
        Difícil
      </button>
      <button
        (click)="nv_dificuldade = nv_dificuldade == 4 ? null : 4"
        [disabled]="nv_dificuldade != 4 && nv_dificuldade"
        class="difficulty difficulty-4"
      >
        Mestrão
      </button>
    </div>
  </div>
  <div class="room-container">
    <p>Selecione 5 temas:</p>
    <div *ngFor="let tema of this.temas; let i = index">
      <div
        class="circle circle-{{i + 1}}"
        [ngStyle]="{
          'border-color': tema.borderColor,
          'background-color': tema.backgroundColor
        }"
        ngbTooltip={{getNomeTema(tema)}}
        (click)="temaChoice(tema)"
      >
        <img class="logo" [src]="getLogoTema(tema)" alt="" />
      </div>
    </div>
  </div>
  <div class="room-container">
    <p>Defina a quantidade de jogadores:</p>
    <select
      [(ngModel)]="nr_jogador"
      class="selectclass"
      matNativeControl
      required
    >
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <button class="createroom" (click)="createRoom()">CRIAR SALA</button>
</div>
