.container {
  background-color: #343945;
  color: white;
  width: 600px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 6px;
}

.teste {
  display: flex;
  align-items: center;
  height: 100%;
}

.room-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin-bottom: 5px;
  margin-bottom: 30px;
}

.img--48x48 {
  width: 48px;
  height: 48px;
}

.img--rounded {
  border-radius: 50%;
}

.circle {
  cursor: pointer;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border-style: groove;
  background-color: #b0b4b7;
  &-1 {
    margin: 5px 0px 0 0;
  }
  &-2 {
    margin: -50px 0 0 75px;
  }
  &-3 {
    margin: -50px 0 0 150px;
  }
  &-4 {
    margin: -50px 0 0 225px;
  }
  &-5 {
    margin: -50px 0 0 300px;
  }
  &-6 {
    margin: -50px 0 0 375px;
  }
  &-7 {
    margin: -50px 0 0 450px;
  }
}

.logo {
  width: 60%;
  height: 60%;
  margin: 10px 0px 0px 10px;
}

.players {
  margin-left: 45%;
  color: white;
  margin-top: -25px;
}

.difficulty {
  color: black;
  border-radius: 6px;
  font-weight: 600;
  width: 50px;
  height: 30px;
  text-align: center;
  display: -webkit-box;
  cursor: pointer;
  &-1 {
    background-color: #a5d6a7;
    border-color: #a5d6a7;
    margin-right: 20px;
    &:hover {
      background-color: #b5d8b6;
    }
    &:disabled {
      background-color: rgb(133, 129, 129);
      border-color: rgb(133, 129, 129);
      cursor: default;
    }
  }
  &-2 {
    background-color: #66bb6a;
    border-color: #66bb6a;
    margin-right: 20px;
    &:hover {
      background-color: #83bb86;
    }
    &:disabled {
      background-color: rgb(133, 129, 129);
      border-color: rgb(133, 129, 129);
      cursor: default;
    }
  }
  &-3 {
    background-color: #43a047;
    border-color: #43a047;
    margin-right: 20px;
    &:hover {
      background-color: #5fa062;
    }
    &:disabled {
      background-color: rgb(185, 178, 178);
      border-color: rgb(133, 129, 129);
      cursor: default;
    }
  }
  &-4 {
    background-color: #2e7d32;
    border-color: #2e7d32;
    margin-right: 20px;
    &:hover {
      background-color: #4c7a4e;
    }
    &:disabled {
      background-color: rgb(133, 129, 129);
      border-color: rgb(133, 129, 129);
      cursor: default;
    }
  }
}
.roominfo {
  display: inline;
}

.selectclass {
  width: 15%;
  margin-top: -10%;
  margin-left: 70%;
  border-color: rgb(51, 50, 50);
  border-radius: 4px;
}

.createroom {
  background-color: rgb(55, 180, 55);
  border-color: rgb(37, 184, 37);
  font-weight: 500;
  color: black;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 75%;
  cursor: pointer;
}
