.container {
  display: flex;
  background-color: rgba(80, 78, 78, 0.89);
  color: #343945;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  height: calc(100% - 60px - 100px);
  margin-top: 50px;
}
