.container {
  display: flex;
  background-color: rgba(80, 78, 78, 0.89);
  color: #343945;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  height: calc(100% - 60px - 100px);
  margin-top: 50px;
}

.audio-icon{
  margin-left: 20px;
  margin-top: 7px;
  position: absolute;
}

.fa-pause-circle, .fa-play-circle {
  font-size: 50px;
  color: #3d9970;
}


.title {
  color: white;
  margin-top: 200px;
}
