<div class="quiz">
  <div class="quiz-header"></div>
  <h1>Master</h1>
  <h1>{{timer}}</h1>
  <div class="question">
    <h3 [ngStyle]="{'color': getCorTema(perguntas[perguntaAtual].id_tema)}">{{perguntas[perguntaAtual].pergunta}}</h3>
  </div>
  <div 
    class="option" 
    id="{{alternativa.alternativa}}" 
    *ngFor="let alternativa of perguntas[perguntaAtual].alternativas"
    (click)="checarResposta(alternativa.alternativa, perguntas[perguntaAtual])"  
  >
    <a>
      <span class="letter" [ngStyle]="{'background-color': getCorTema(perguntas[perguntaAtual].id_tema)}"><p>{{alternativa.alternativa}}</p></span>
      <span><p>{{alternativa.resposta}}</p></span>
    </a>
  </div>
</div>
