.fa {
  font-size: 25px;
  margin-right: 7px;
  margin-left: 10px;
}

.avatar-icon {
  height: 80px;
  margin: 10px;
}

.show-pointer:hover {
  cursor: pointer;
}

.profile {
  height: 30px;
  margin-left: 5px;
}