<li class="nav-item" (click)="openVerticallyCentered(content)">
  <a class="nav-link"><img class="profile" src="/src/assets/img/avatars/default.png" /> Skin</a>
</li>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">ESCOLHA SUA SKIN</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Skin Selecionada:</p>
    <img class="profile-skins" src="/src/assets/img/avatars/{{userSkin}}.png">

    <hr>

    <p>Escolha sua Skin:</p>
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/boy.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/cheerleader.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/fisherman.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/girl-1.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/girl.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/man.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/muslim.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/penguin.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/runner.png">
    <img class="profile-skins" src="/src/assets/img/avatars/free-avatar/woman.png">

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Close
    </button>
    <button type="submit" class="btn btn-light">Submit</button>
  </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="pacman"></ngx-spinner>
  </div>
</ng-template>
